<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    </head>
    <body>       
        <!--Create Route Block-->
        <div class="spacer notDriving" ng-show="routeAvailable()">
            <div class="startOptions" ng-show="initiating"> 
                <h1 class="selectable" ng-click="toggleSelectLoop()">Select Route</h1>
                <div class="startButton loopButton" id="West" ng-show="selectingLoop"
                     ng-click="selectLoop('West')">West Loop</div>
                <div class="startButton loopButton" id="East" ng-show="selectingLoop" 
                 ng-click="selectLoop('East')">East Loop</div>
                 <div class="startButton loopButton" style="margin-top:0; width:auto" id="All" ng-show="selectingLoop" 
                 ng-click="selectLoop('All')">Cambridge Loop</div>
                <h1 class="selectable" ng-click="toggleSelectCopilot()">Select Copilot</h1>
                <ul ng-show="selectingCopilot">
                    <li class="startButton brotherOptions" ng-repeat="brother in brothers |
                        orderBy:'delta'" ng-click="selectCopilot(brother.id, $index)" 
                        id="{{brother.id}}">
                        {{brother.name}}
                    </li>
                </ul>
            </div>
        </div>
        
        <!--Driving Block-->
        <div class="spacer driving" ng-show="isDriving" ng-click="closeMenu()">
            <ul>
                <li class="option drivingOptions" ng-repeat="location in currentRoute">
                    <img ng-src="{{dot($first, $last, location)}}" class="optionDot">
                    <p class="locationText" ng-class="{'complete': locationComplete($index)}"> {{location}}</p>
                    <ul ng-show="hasRequests(location)">
                        <li class="contactOption" ng-repeat="rushee in requests[location]">
                            <img ng-src="img/dots/line.png" class="optionDot">
                            <div class="locationText">
                                • {{rushee.get("name")}} - 
                                <a href="tel:{{rushee.cell}}">{{rushee.get("contact")}}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <!--Footers-->
        <!--Initiating Footer-->
        <div class="footer animateAll" ng-show="initiating" ng-class="{'slideAll': showmenu}">
            <div class="request" ng-click="startRoute()" ng-show="formComplete()"> 
                Start Route
            </div>
        </div>
        <!--Driving Footers-->
        <div class="footer animateAll" ng-show="isDriving" ng-class="{'slideAll': showmenu}">
            <!--En Route Footer-->
            <div class="optionsContainer" ng-show="enRoute">
                <img class="drivingButton left" src="img/yesButton.png" ng-click="next()">
                <div class="drivingLocation"> {{currentRoute[currentVan.get("location")]}} </div>
                <img class="drivingButton right" src="img/noButton.png" ng-click="back()">
            </div>
        </div>
    </body>
</html>
