<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>asdfr</h1>
        <h1>asdfr</h1>
        <h1>asdfr</h1>
        <h1>asdfr</h1>
        <h1>asdfr</h1>
        <form>
            Name: <input type="text" name="meName" ng-model="me.name" class="meInput"/><br>
            Cell: <input type="text"name="meCell" ng-model="me.cell" class="meINput"/><br>
            <button ng-click="saveMe" class="meButton">Save Changes</button>
        </form>
    </body>
</html>
