<html>
    <head>
        <title>Van Tracker</title>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    </head>
    <!-- No Van Alert -->
    <h1 class="spacer noVanAlert centeredContainer" ng-hide="hasVans()">Oh no, there aren't any vans running now but we'll send one as soon as possible!</h1>
    <div ng-repeat="van in vans" >
        <!-- Van Info -->
        <img class="vanIcon" src="img/oohIcon.png">
        <h1 class="vanh1">Van {{$index+1}}</h1>
        <h2 class="vanh2">Space: {{isFull(van)}}</h2>
        <p class="vanp" >Next Stop:</p>
        <div class="driver" ng-click="seeNumber()" ng-show="!showContact">Contact Driver</div>
        <a href="tel:{{van.contact}}" ng-show="showContact"><div class="driver">{{van.contact}}</div></a>
        <ul>
            <li class="place" ng-repeat="location in van.route">
                <img ng-src="{{dot(van, $first, $last, location, $index)}}" class="dot">
                <div class="locationText" ng-class="{'complete': notReached(van,location)}">
                    {{location}}
                </div>
            </li>
        </ul>
    </div>
    <div class="spacer"></div>
</html>
